/*
hurt | ouch  #810CE8;
deal | sorry #0D7EFF;
*/

body {
  background-color: #fef035;
}


a {
  color: #0c663a;
}

a:hover {
  color: #009688;
  text-decoration: none;
}


.main {
  position: relative;
  margin: 5px 0 20px;
}


/*
  HEADER
*/

header {
  margin-bottom: 30px;
  padding-right: 10px;
}

header .nav-link {
  line-height: 158px;
}

/*
  PHRASES
*/

.main .phrases {
  display: block;
}

.main .phrases .phrase-card {
  margin-bottom: 25px;
  min-height: 120px;
  font-size: 17px;
  border-right: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: #000;
  display: block;
  position: relative;
}
.main .phrases .phrase-card:hover {
  background-color: #F2F2F2;
  color: #000;
  text-decoration: none;
}

.phrase-card .counters {
  right: 10px;
  bottom: 10px;
  position: absolute;
}

.phrase-card .counters span {
  padding: 3px 5px;
  font-weight: 400;
  border-radius: 5px;
  color: #FFF;
}

.hurt-counter {
  background-color: #810CE8;
}

.deal-counter {
  background-color: #0D7EFF;
}

@media screen and (min-width: 768px) {
  .main .phrases {
    display: flex;
    flex-wrap: wrap;
  }

  .main .phrases .phrase-card {
    margin-bottom: 40px;
  }
}

/*
  ACTION ICONS
*/

i.material-icons.material-icons-text {
  font-style: normal;
}

/*
  BTNS
*/

.main.detail .btn {
  overflow: hidden;
  height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  line-height: 38px;
}
.main .btn.btn-raised {
  box-shadow: none;
}

.btn.btn-raised.btn-primary {
  background-color: #673AB7;
}

.btn.btn-hurt {
  background-color: #810CE8;
  color: #FFF;
}
.btn.btn-hurt:not(.btn-link):hover {
  background-color: #6B0AC2;
}
.btn.btn-hurt.selected, .btn.btn-hurt.selected:hover {
  background-color: #6B0AC2;
}
.btn.btn-hurt.selected {
  cursor: default;
}

.btn.btn-deal {
  background-color: #0D7EFF;
  color: #FFF;
}
.btn.btn-deal:not(.btn-link):hover {
  background-color: #0B6AD6;
}
.btn.btn-deal.selected, .btn.btn-deal.selected:hover {
  background-color: #0B6AD6;
}
.btn.btn-deal.selected {
  cursor: default;
}

.btn.btn-black {
  background-color: #2d2c2c;
  color: #FFF;
}
.btn.btn-black:not(.btn-link):hover {
  background-color: #000;
}


.btn.btn-comment {
  width: 200px;
  text-align: center;
}
.btn.btn-comment.btn-full-width {
  width: 100%;
}

.btn.btn-comment .badge {
  padding: 5px;
  margin-left: 5px;
  width: 20px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 990px) and (max-width: 1200px) {
  .btn.btn-comment {
    width: 150px;
    font-size: 11px;
    padding-left: 14px;
    line-height: 40px;
  }

  .btn.btn-hurt {
    padding-left: 36px;
  }
}

@media (max-width: 768px) {
  .main.detail .btn.btn-comment:last-child {
    margin-top: 10px;
  }
}

/*
  IMAGE
*/

.image-well {
  min-height: 577px;
  padding-bottom: 20px;
}
.image-container {
  min-height: 540px;
  overflow: hidden;
}

.with-reaction .image-container {
  min-height: 400px;
}


@media screen and (max-width: 768px) {
  .image-well {
    min-height: 447px;
  }

  .image-container {
    min-height: 410px;
  }

  .with-reaction .image-container {
    min-height: 270px;
  }
}


.image img {
  margin: auto;
}

.comment-form {
  display: none;
}

.form-group textarea.form-control {
  padding: 10px;
  border: 1px solid #D2D2D2;
  border-bottom: none;
}

.share iframe {
  vertical-align: middle;
}

.violence {
  margin-top: 20px;
}
.violence b {
  display: block;
  font-weight: 500;
  font-size: 15px;
}
.violence p {
  margin-top: 10px;
}

/*
  COMMENTS LIST
*/

.comment-buttons {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .comment-buttons {
    text-align: center;
  }
}


.comments .comment-actions {
  overflow: hidden;
}

.empty-comments {
  text-align: center;
  color: #666;
  font-weight: 500;
}

.comment-actions.ouch .upvote-icon:hover, .comment-actions.ouch .comment-type {
  color: #0D7EFF;
}
.comment-actions.sorry .upvote-icon:hover, .comment-actions.sorry .comment-type {
  color: #810CE8;
}

.comment-actions.ouch .voted .upvote-icon {
  color: #0D7EFF;
  cursor: default;
}
.comment-actions.sorry .voted .upvote-icon {
  color: #810CE8;
  cursor: default;
}


.comments.list-group .list-group-item .row-content,
.comments.list-group .list-group-separator:before {
  width: 100%;
}
.comments.list-group .list-group-item .row-content {
  min-height: inherit;
  padding: 5px 0;
}

.comments .list-group-item-text {
  font-size: 16px;
  margin-bottom: 5px;
}

.comments .icons {
  margin-top: 4px;
}

.comments .vote-icon {
  margin-bottom: 2px;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .comments .list-group-item-text {
    font-size: 14px;
  }

  .comments .comment-type {
    font-size: 12px;
  }
}


/*
 FORM
*/


.form-group.is-focused .form-control {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#000),to(#000)),-webkit-gradient(linear,left top,left bottom,from(#D2D2D2),to(#D2D2D2));
  background-image: -webkit-linear-gradient(#000,#000),-webkit-linear-gradient(#D2D2D2,#D2D2D2);
  background-image: -o-linear-gradient(#000,#000),-o-linear-gradient(#D2D2D2,#D2D2D2);
  background-image: linear-gradient(#000,#000),linear-gradient(#D2D2D2,#D2D2D2);
}


/*
 SNACKBAR
*/

.snackbar {
  background-color: #FFF;
  color: #000;
}


/*
  UTILS
*/

.pull-sm-right {
  float: right;
}

@media screen and (max-width: 768px) {
  .pull-sm-right {
    float: none;
  }

  #js-mobile-check {
    display: none;
  }
}

