{% extends "base.html" %}

{% block title %}OgroMachista{% endblock %}

{% block facebook_meta %}
  {% load staticfiles %}

  <meta property="og:url"         content="http://ogromachista.com" />
  <meta property="og:type"        content="website" />
  <meta property="og:title"       content="OgroMachista" />
  <meta property="og:description" content="#OgroMachista" />
  <meta property="og:image"       content="http://ogromachista.com{% static 'img/logo.png' %}" />
{% endblock %}

{% block content %}
  <div class="row phrases">
    {% for poster in posters %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="{% url 'poster_view' slug=poster.slug %}" class="well phrase-card">
          <span>{{ poster.text }}</span>
          <div class="counters">
            <span class="hurt-counter" title="ME DOLIO">{{ poster.reactions.ouch }}</span>
            <span class="deal-counter" title="ME HAGO CARGO">{{ poster.reactions.sorry }}</span>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="share">
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=#OgroMachista" data-size="small">Tweet</a>
        <div class="fb-share-button" data-href="http://www.ogromachista.com" data-layout="button" data-size="small" data-mobile-iframe="true">
          <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.ogromachista.com%2F&amp;src=sdkpreparse">Share</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
