{% extends "base.html" %}

{% block title %}OgroMachista - {{ poster.text }}{% endblock %}

{% block facebook_meta %}
  <meta property="og:url"         content="http://ogromachista.com{{ request.path }}" />
  <meta property="og:type"        content="website" />
  <meta property="og:title"       content="OgroMachista - {{ poster.text }}" />
  <meta property="og:description" content="{{ poster.text }}" />
  <meta property="og:image"       content="http://ogromachista.com/img/{{ poster.slug }}.png" />
{% endblock %}

{% block main_class %}detail{% endblock %}

{% block content %}
  {% include 'partials/share_buttons.html' %}

  <section class="row">
    <div class="col-xs-12 col-md-5">
      <div class="well well-lg image-well {% if my_reaction %}with-reaction{% endif %}">
        <div class="image-container">
          <div class="image text-center">
            <img class="img-responsive" src="http://ogromachista.com/img/{{ poster.slug }}.png" alt="Ogro machista" width="500" height="300" title="{{ poster.text }}" />
          </div>

          {% if my_reaction %}
            <div class="comment-buttons">
              {% if my_reaction.type == 'ouch' %}
                <div class="btn btn-raised btn-hurt btn-comment btn-full-width selected" data-type="ouch">
                  ME DOLIO
                  <span class="badge">{{ reactions.ouch }}</span>
                </div>
              {% else %}
                <div class="btn btn-raised btn-deal btn-comment btn-full-width selected" data-type="sorry">
                  ME HAGO CARGO
                  <span class="badge">{{ reactions.sorry }}</span>
                </div>
              {% endif %}
            </div>
          {% else %}
            <div class="comment-buttons">
              <form action="{% url 'add_reaction' %}" method="POST">
                {% csrf_token %}

                <input type="hidden" name="poster" value="{{ poster.id }}">
                <input type="hidden" class="js-hidden-type" name="type" value="">

                <div class="btn btn-raised btn-hurt btn-comment" data-type="ouch">
                  ME DOLIO
                  <span class="badge">{{ reactions.ouch }}</span>
                </div>
                <div class="btn btn-raised btn-deal btn-comment pull-sm-right" data-type="sorry">
                  ME HAGO CARGO
                  <span class="badge">{{ reactions.sorry }}</span>
                </div>
              </form>
            </div>
          {% endif %}

          <form id="js-comment-form" class="form-horizontal comment-form" action="{% url 'attach_comment' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" class="js-hidden-reaction" name="reaction" value="">
            <input type="hidden" class="js-hidden-type" name="type" value="">

            <fieldset>
              <div class="form-group">
                <div class="col-xs-12">
                  <textarea class="form-control" name="text" rows="3"></textarea>
                  <input type="submit" class="btn btn-raised btn-black btn-comment btn-block" />
                </div>
              </div>
            </fieldset>
          </form>
        </div>

        <div class="share">
          <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ poster.text }}" data-size="small">Tweet</a>
          <div class="pull-right fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-mobile-iframe="true">
            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a>
          </div>
        </div>

        <div class="violence">
          <b><a href="#" id="js-violence-modal">Esto también es violencia</a></b>
          <p>
            <a href="http://www.cnm.gov.ar/index.php">Consejo Nacional de las Mujeres</a>, <a href="http://www.inadi.gob.ar/">Inadi</a>, <a href="http://www.defensadelpublico.gob.ar/">Defensoria del Público</a>, <a href="http://www.cnm.gov.ar/linea144.php">Línea Telefónica 144 (contención y asesoramiento)</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-7">
      <div class="list-group well comments">
        {% if not comments %}
          <p class="empty-comments">Aún no hay testimonios</p>
        {% endif %}

        {% for comment in comments %}
          <div class="list-group-item">
            <div class="row-content">
              <p class="list-group-item-text">{{ comment.text }}</p>

              <div class="comment-actions {{ comment.reaction.type }}">
                {% if comment.my_vote %}
                  <div class="icons voted pull-left">
                    <i class="material-icons vote-icon upvote-icon">&#xE8DC;</i>
                    <small>{{ comment.vote_count }}</small>
                    &nbsp;
                    <small>
                      <a href="{% url 'poster_view_comment' slug=poster.slug comment_id=comment.id %}">Link</a>
                    </small>
                  </div>
                {% else %}
                  <div class="icons pull-left">
                    <form method="POST" action="{% url 'vote_comment' %}">
                      {% csrf_token %}
                      <input type="hidden" name="comment" value="{{ comment.id }}">

                      <i class="material-icons vote-icon upvote-icon">&#xE8DC;</i>
                      <small class="js-votes-count">{{ comment.vote_count }}</small>
                      &nbsp;
                      <small>
                        <a href="{% url 'poster_view_comment' slug=poster.slug comment_id=comment.id %}">Link</a>
                      </small>
                    </form>
                  </div>
                {% endif %}

                <div class="pull-right">
                  <span class="comment-type">ME HAGO CARGO</span>
                </div>
              </div>
            </div>
          </div>

          <p>{{ comment.author }}</p>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}


{% block modal %}
  <div class="modal" id="violence-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">Violencia Simbólica</h3>
        </div>
        <div class="modal-body">
          <p>La que a través de patrones estereotipados mensajes, valores, íconos o signos transmita y reproduzca dominación, desigualdad y discriminación en las relaciones sociales, naturalizando la subordinación de la mujer en la sociedad. <a href="http://www.cnm.gov.ar/legnacional.php">Ley 26.485</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop hidden"></div>
{% endblock %}
